<!doctype html>
<html>
    <body>
	<h1>Squirrel status: {{ squirrel_id }}</h1>
    <a href="/stats/{{ squirrel_id }}/edit">Click here to edit this squirrel</a>
    <p>
    latitude--------------- {{alldata_xx}}<br>
    longtitude------------- {{alldata_yy}}<br>
    Unique_Squirrel_ID----- {{alldata_Unique_Squirrel_ID}}<br>
    shift------------------ {{alldata_shift}}<br>
    date------------------- {{alldata_date}}<br>
    age-------------------- {{alldata_age}}<br>
    primary_fur_color------ {{alldata_primary_fur_color}}<br>
    location--------------- {{alldata_location}}<br>
    specific_location------ {{alldata_specific_location}}<br>
    running---------------- {{alldata_running}}<br>
    chasing---------------- {{alldata_chasing}}<br>
    climbing--------------- {{alldata_climbing}}<br>
    eating----------------- {{alldata_eating}}<br>
    foraging--------------- {{alldata_foraging}}<br>
    other_activities------- {{alldata_other_activities}}<br>
    kuks------------------- {{alldata_kuks}}<br>
    quaas------------------ {{alldata_quaas}}<br>
    moans------------------ {{alldata_moans}}<br>
    tail_flags------------- {{alldata_tail_flags}}<br>
    tail_twitches---------- {{alldata_tail_twitches}}<br>
    approaches------------- {{alldata_approaches}}<br>
    indifferent------------ {{alldata_indifferent}}<br>
    runs_from-------------- {{alldata_runs_from}}<br>
    </p>

    </body>
</html>