<!doctype html>
<html>
    <body>
	<h1>Squirrel status: {{ squirrel_id }}</h1>
    <a href="/status/{{ squirrel_id }}/edit">Click here to edit this squirrel</a>
    <p>
    latitude--------------- {{alldata.xx}}<br>
    longtitude------------- {{alldata.yy}}<br>
    Unique_Squirrel_ID----- {{alldata.Unique_Squirrel_ID}}<br>
    shift------------------ {{alldata.shift}}<br>
    date------------------- {{alldata.date}}<br>
    age-------------------- {{alldata.age}}<br>
    primary_fur_color------ {{alldata.primary_fur_color}}<br>
    location--------------- {{alldata.location}}<br>
    specific_location------ {{alldata.specific_location}}<br>
    running---------------- {{alldata.running}}<br>
    chasing---------------- {{alldata.chasing}}<br>
    climbing--------------- {{alldata.climbing}}<br>
    eating----------------- {{alldata.eating}}<br>
    foraging--------------- {{alldata.foraging}}<br>
    other_activities------- {{alldata.other_activities}}<br>
    kuks------------------- {{alldata.kuks}}<br>
    quaas------------------ {{alldata.quaas}}<br>
    moans------------------ {{alldata.moans}}<br>
    tail_flags------------- {{alldata.tail_flags}}<br>
    tail_twitches---------- {{alldata.tail_twitches}}<br>
    approaches------------- {{alldata.approaches}}<br>
    indifferent------------ {{alldata.indifferent}}<br>
    runs_from-------------- {{alldata.runs_from}}<br>
    </p>

    </body>
</html>